<!DOCTYPE html>
<html class="h-100" lang="en" data-bs-theme="<%= current_theme %>">
<head>
  <title>Smolchat</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>

<body class="h-100">
<main class="h-100 position-relative">
  <%= yield %>
  <div id="toast_container" class="toast-container top-0 end-0 p-3">
    <%= render 'layouts/toasts' %>
  </div>
</main>
</body>
</html>
